services:
  menus-semaine:
    image: ghcr.io/dimbeziau/menus-semaine:latest
    container_name: menus-semaine
    ports:
      - "3010:3000"
    volumes:
      - ./data:/app/prisma/data
    environment:
      - DATABASE_URL=file:/app/prisma/data/dev.db
      - AUTH_SECRET=k7X9mPqR2vN8wL4jF6hT3bY5cA1eZ0sD
      - AUTH_TRUST_HOST=true
      - NEXTAUTH_URL=https://menus.beziau.dev
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.menus.rule=Host(`menus.beziau.dev`)"
      - "traefik.http.routers.menus.entrypoints=websecure"
      - "traefik.http.routers.menus.tls.certresolver=letsencrypt"
      - "traefik.http.services.menus.loadbalancer.server.port=3000"
